.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
aexo-manager.sublime-workspace
HTML/*
*.sublime-workspace
BD/Bk Schedule/bk_aexomanager.zip
assets/aexo-manager/uploads/movimiento-C072015.TXT
assets/aexo-manager/uploads/output-movimientos.txt
assets/aexo-manager/uploads/output-movimientosVenta.txt
assets/aexo-manager/uploads/output-movimientos.txt
assets/aexo-manager/uploads/output-movimientosVta-alicuota.txt
assets/aexo-manager/uploads/output-movimientos-alicuota.txt
assets/aexo-manager/uploads/output-movimientos.txt
assets/aexo-manager/uploads/output-movimientos-alicuota.txt
aexo-manager.sublime-workspace
*.bk
BK Prod/config/index.html
*.bk1
BK Prod/controllers/.htaccess
*.html
BK Prod/controllers/mediosDePago.php.bk2
*.bk2
BK Prod/views/view_productosDetalle.php.pk
*.php_bk
application/third_party/mpdf/tmp/
BK Prod/
